@import "tailwindcss";

@theme {
  --color-primary: #673ab6;
  --color-background-light: #fcfcfc;
  --color-background-dark: #0f0d11;

  --font-display: "Space Grotesk", sans-serif;
  --font-sans: "Noto Sans", sans-serif;

  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-sans);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

